.artwork-container {
    background-color:#000;
}

.artwork {    
    width: 100%;
    max-width:585px;
}

video {
    position: absolute;
    top:0px;
    z-index: 500;
    width:100%;
    height:100%;
}